{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <figure class="highcharts-figure">
        <div id="container"></div>

    </figure>


    <form style="width:300px;margin:0 auto;" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Place your vote">
    </form>

</div>

<script>

    let loadData = () => {
        fetch('/api/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                renderChart(data.seo_content, data.content_writer, data.copywriter)
            });
    }

    loadData()

    let renderChart = (seo_content, content_writer, copywriter) => {
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Writing Types'
            },
            subtitle: {
                text: 'Joe SEO Content'
            },

            yAxis: {
                min: 0,
                title: {
                    text: 'Total'
                }
            },

            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Seo Content Writing',
                data: [seo_content]

            }, {
                name: 'Content Writing',
                data: [content_writer]

            }, {
                name: 'Copywriting',
                data: [copywriter]

            }]
        });
    }
    renderChart()
</script>

{% endblock content %}